@import '../../App.scss';

.chips {
    padding: 0.8rem 2.5rem;
    display: inline-block;
    border-radius: 200rem;
    font-size: 1.3rem;

    &--primary {
        background: $primary-light-color;
    }

    &--danger {
        background-color: $danger-color;
    }
}
